.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 170px;
  background: #e6dce6;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #6f136f7a;
  color: white;
  height: 60px;
}

.sid-content {
  background-image: url(../../../assets/back-purple.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.content-wrapper {
  margin: 20px;
}

.btn-nav-wrapper {
  border-top: 0.1px solid white;
  border-bottom: 0.1px solid white;
}

.btn-nav {
  // color: white;
  border-radius: 0 !important;
  text-align: right;
  font-weight: bold;
  padding: 5px;
  font-size: 16px;
  border: 0.1px solid white !important;
  &.active {
    background: white;
    border-radius: 0 !important;
  }
}

.btn-toggle-nav {
  position: fixed;
  top: 13px;
}
