<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    color="accent"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <div class="toolbar-top">
        <h3 class="bold" *ngIf="managerLoggedIn">
          שלום מנהל!
        </h3>
        <div
          *ngIf="employeeLoggedIn"
          class="d-flex justify-content-between align-items-center"
        >
          <div
            class="profile-img"
            [style.backgroundImage]="'url(' + currentEmployee.imageUrl + ')'"
          ></div>
          <span class="bold small-font">
            שלום
            {{ currentEmployee.firstName + " " + currentEmployee.lastName }}!
          </span>
        </div>
      </div>

      <div class="btn-nav-wrapper">
        <ng-container *ngFor="let page of pages">
          <button
            *ngIf="
              (managerLoggedIn && page.mangerSettings?.viewMenuTab) ||
              (employeeLoggedIn && page.employeeSettings?.viewMenuTab) ||
              (!managerLoggedIn && !employeeLoggedIn && page.isLogin) ||
              ((managerLoggedIn || employeeLoggedIn) && page.isLogout)
            "
            routerLinkActive="active"
            class="btn-nav"
            mat-stroked-button
            color="primary"
            style="width: 100%;"
            [routerLink]="page.route"
            (click)="page.isLogout ? logout() : ''"
          >
            <mat-icon>{{ page.icon }}</mat-icon> {{ page.title }}
          </button></ng-container
        >
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sid-content">
    <mat-toolbar class="page-header" color="primary">
      <button
        class="btn-toggle-navi"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span
        >{{ currentPage?.title }}
        {{
          managerLoggedIn && currentPage?.route == "/report-edit"
            ? " - " + fullName(currntEmpHRs)
            : ""
        }}</span
      >
    </mat-toolbar>
    <div class="content-wrapper">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
