<form [formGroup]="newForm" #myForm="ngForm" novalidate (submit)="submitForm()">
  <mat-card class="small-card">
    <mat-card-content>
      <ng-container *ngIf="hRsList?.controls.length">
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">
            <mat-icon>save</mat-icon>
            שמירה
          </button>
          <button mat-stroked-button color="primary" type="button">
            <mat-icon>print</mat-icon>
            הדפסה
          </button>
          <button
            mat-stroked-button
            color="primary"
            (click)="exportToExcel()"
            type="button"
          >
            <mat-icon>cloud_download</mat-icon>
            יצוא לExcel
          </button>
        </mat-card-actions>
        <div class="tbl-grid header">
          <span>תאריך</span>
          <span>שעת התחלה</span>
          <span>שעת סיום</span>
          <span>סוג דיווח</span>
          <span>סך שעות</span>
          <span>רגילות</span>
          <span>נוספות</span>
          <span>הערות</span>
        </div></ng-container
      >
      <div
        id="tbl_content"
        formArrayName="hRsList"
        *ngFor="let item of hRsList?.controls; let i = index"
      >
        <div [formGroupName]="i">
          <button
            mat-mini-fab
            class="remove-report-btn"
            color="primary"
            (click)="removeReportItem(i)"
            aria-label="מחק"
            type="button"
          >
            <mat-icon>remove_box</mat-icon>
          </button>
          <div class="tbl-grid content">
            <mat-form-field appearance="fill" class="tbl-field">
              <mat-label>בחר תאריך</mat-label>
              <input
                matInput
                formControlName="date"
                disabled
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="picker"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
              <mat-error *ngIf="item.get('date').hasError('required')">
                שדה חובה
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="tbl-field">
              <input matInput type="time" formControlName="timeStart" />
              <mat-error *ngIf="item.get('timeStart').hasError('required')">
                שדה חובה
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="tbl-field">
              <input matInput type="time" formControlName="timeEnd" />
              <mat-error *ngIf="item.get('timeEnd').hasError('required')">
                שדה חובה
              </mat-error>
            </mat-form-field>
            <mat-form-field color="primary" appearance="fill" class="tbl-field">
              <mat-select formControlName="dayReportType">
                <mat-option (onSelectionChange)="addSelction()"
                  >הוסף סוג דיווח</mat-option
                >
              </mat-select>
              <mat-error *ngIf="item.get('dayReportType').hasError('required')">
                שדה חובה
              </mat-error>
            </mat-form-field>
            <span class="tbl-field">{{ item.value.totalHours }}</span>
            <span class="tbl-field">{{ item.value.totalHours }}</span>
            <span class="tbl-field">{{ item.value.totalHours }}</span>
            <mat-form-field appearance="fill" class="tbl-field">
              <textarea matInput rows="1" formControlName="comment"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <button
        mat-stroked-button
        (click)="createNewReportItem()"
        color="primary"
        type="button"
      >
        <mat-icon>add_box</mat-icon>
        הוספת דיווח
      </button>
    </mat-card-content>
  </mat-card>
</form>
