<div class="mat-elevation-z8 mat-table-wrapper">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Name Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>שם</th>
      <td mat-cell *matCellDef="let row">
        {{ row.firstName + " " + row.lastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tz">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ת"ז</th>
      <td mat-cell *matCellDef="let row">{{ row.employeeId }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>דוא"ל</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>טלפון</th>
      <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>תמונה</th>
      <td mat-cell *matCellDef="let row">
        <img [src]="row.imageUrl" width="25" height="25" alt="" />
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>פעולות</th>
      <td mat-cell *matCellDef="let row">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button
            [routerLink]="'/edit-emp/' + row.employeeNumber"
            mat-menu-item
          >
            <mat-icon color="primary">edit</mat-icon>
            עריכת פרטים אישיים
          </button>
          <button
            [routerLink]="'/report-edit/' + row.employeeNumber"
            mat-menu-item
          >
            <mat-icon color="primary">edit</mat-icon>
            עריכת דו"ח נוכחות
          </button>
          <button (click)="deleteeEmployee(row.employeeNumber)"  mat-menu-item>  
            <mat-icon color="primary">delete</mat-icon>
            מחיקה
          </button>
        </mat-menu>
    
       
    
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]"
  >
  </mat-paginator>
</div>
