.small-card {
  max-width: max-content;
  min-width: max-content;
  margin: auto;
}
.btn-upload {
  width: 201px;
  height: 51px;
  margin-top: 4px;
  text-align: right;
}
.row-wrapper {
  width: 450px;
}
